<div class="row col-md-6 col-md-offset-3">
  <strong>Description:</strong>
  <%= @pin.description %>
</div>
<div class="row col-md-6 col-md-offset-3">
<%= link_to 'Editar', edit_pin_path(@pin) %> |
<%= link_to 'Regresar', pins_path %>
</div>